h1 {
    color: #ffde55;
    font-size: 35px;
}

h2 {
    color: #7AB7AC;
}

h3 {
    color: #99e373;
}

p {
    color: #88ccc0;
}

body {
    background-image: url("background.gif");
    background-size : 100% auto
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7fd481;
}


li {
    float: left;
}


li a, .dropbtn {
	font-family: sans-serif;
    font-size: 18px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ffde55;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #99e373
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: 	#ffde55}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    border-radius: 35px;
    background-color: #fff05c;
    border: 3px solid #7fd481;
    padding: 10px;
    margin: 25px;
    width: 150px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-color: #88ccc0;
}

.button_small {
    border-radius: 25px;
    background-color: #fff05c;
    border: 2px solid #7fd481;
    margin: 15px 0px 0px 0px;
    width: 200px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-color: #88ccc0;
}

.button:hover, .button_small:hover {
	box-shadow: 6px 8px 12px #dfdfdf;
}

a:link, a:visited {;
    text-decoration: none;
    cursor: auto;
}

table {
    padding-top: 25px;
    table-layout: auto;
}
table, th, td {
    border: 0px solid black;
}
th, td {
    padding: 2px;
    text-align: left;
}

th {
	background-color: #ffde55;
    color: black;
    font-size: 25px
}
table tr:nth-child(even) {
    background-color: #7fd481;
    font-size: 18px
}
table tr:nth-child(odd) {
   background-color: #99e373;
   font-size: 18px
}