{% extends "layout.html" %}

{% block title %}{% if not form.instance.pk %}Create User{% else %}Edit User{{ form.instance.name }} {% endif %}{% endblock %}

{% if not form.instance.pk %}
{% block navbar %}
<li><a href="{% url 'URLShortener:userlist' %}">Login</a></li>
<li><a href="{% url 'URLShortener:usercreate' %}">Create Account</a></li>

<li style="float:right"><a href="/">About</a></li>
{% endblock navbar %}
{% endif %}


{% block content %}
<h1>{% if not form.instance.pk %}Create User{% else %}Edit User{{ form.instance.name }} {% endif %} </h1>

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Save">
</form>
{% endblock content %}